# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=<your_api_key>
LIVEKIT_API_SECRET=<your_api_secret>
LIVEKIT_URL=wss://<project-subdomain>.livekit.cloud

AZURE_OPENAI_VERSION=2024-08-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_ENDPOINT=https://your-endpoint.openai.azure.com/
AZURE_OPENAI_API_KEY=your-api-key

AZURE_STT_REGION=region
AZURE_STT_API_KEY=your-api-key
AZURE_TTS_REGION=region
AZURE_TTS_API_KEY=your-api-key

CEREBRAS_API_KEY=your-api-key
GOOGLE_API_KEY=your-api-key
GOOGLE_APPLICATION_CREDENTIALS=your-api-key